<h1>Posts#index</h1>
<% if user_signed_in? %>
  <%= "#{current_user.account_name}さんでログイン中" %>
  <%= link_to "新規投稿", new_post_path %>
  <%= link_to "ログアウト", destroy_user_session_path, method: "delete" %>
<% else %>
  <p>ログインしていません</p>
  <%= link_to "ユーザー登録", new_user_registration_path %>
  <%= link_to "ログイン", new_user_session_path %>
<% end %>

<% @posts.each do |post| %>
  <% if user_signed_in? %>
    <div class="tweet">
      <p><%= "#{post.user.account_name}(#{post.created_at.in_time_zone('Tokyo').strftime("%Y/%m/%d %H:%M:%S")})：" %><%= post.tweet %>
      <span action="<%= create_like_post_path(post) %>" class="like <% if post.likes.find_by(user_id: current_user.id) != nil %>active<% end %>" id="post<%= post.id %>">
      ♡<%= post.likes.count %>
      </span>
      </p>
    </div>
  <% else %>
    <div class="tweet">
      <p><%= "#{post.user.account_name}(#{post.created_at.in_time_zone('Tokyo').strftime("%Y/%m/%d %H:%M:%S")})：" %><%= post.tweet %>
      <span action="<%= create_like_post_path(post) %>" class="like">
      ♡<%= post.likes.count %>
      </span>
      </p>
    </div>
  <% end %>
<% end %>
